---
layout: page
permalink: /members
title: Members
---

{% include members.section.html label="Professor"         members=site.data.members.professor %}
{% include members.section.html label="PostDoc"         members=site.data.members.postdoc %}
{% include members.section.html label="Ph.D. Students"    members=site.data.members.doctors %}
{% include members.section.html label="M.S. Students"     members=site.data.members.masters %}
{% include members.section.html label="Bachelor Students" members=site.data.members.bachelors  %}
{% include members.section.html label="Alumnus"           members=site.data.members.alumnus %}