---
---
#page-content {
  .map {
    margin-top: 30px;

    /* padding-bottom of #page-contet is 30px, but ther is unknown 6px padding. */
    margin-bottom: -36px;
  }

  div.overlay {
    height: 600px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 4rem;
    text-align: center;
    line-height: 600px;
    background-color: #666;
    opacity: 0.125;
  }
}
