---
---
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

#site-title {
  font-weight: bold;
}

#site-header {
  .nav a.nav-link {
    line-height: 3em;
  }

  .nav a.nav-link.active {
    border-bottom: 2px solid #000;
    font-weight: bolder;
  }
}

#site-footer {
  font-size: 0.8rem;
  padding: 20px 0;
  border-top: 1px solid #ddd;

  img {
    height: 2rem;
  }
}

#page-cover {
  min-height: 360px;
  color: #fff;
  padding: 50px 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-family: monospace;
  letter-spacing: 1em;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, #002f4b, #dc4225);
    opacity: .6;
  }

  @media only screen and (max-width: 992px) {
    background-attachment: scroll;
  }
}

#page-content {
  padding: 30px 0;
}

.table-responsive {
  display: block;
}
